@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-justify-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}