@import "../../assets/scss/mixin";
.button {
  font-size: var(--text-small);
  font-weight: var(--font-medium);
  color: var(--text-green);
  border: 1px solid var(--btn-green-border-color);
  border-radius: 20px;
  background-color: transparent;
  padding: 5px;

}